@import "tailwindcss";
@import "@heroui/styles";
@plugin "tailwindcss-motion";

@layer base {
  :root {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-body: 'Lato', ui-sans-serif, system-ui, sans-serif;
  }

  html {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
  }
}
